.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler:focus-visible {
  outline: none;
}

.navbar-brand img {
  width: 40px;
}

.form-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68%;
}
