.post img {
    height: 325px;
    width: 475px;
    border: 2px solid lightgray;
    transition: transform 0.3s ease;
}
  
.post img:hover {
    transform: scale(1.01);
}
  
@media screen and (width > 1600px) {
    .post img {
        width: 550px;
    }
}