.post img {
  border-radius: 10px;
  height: 325px;
  width: 475px;
  border: 2px solid lightgray;
  transition: transform 0.3s ease;
}

.post img:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

@media screen and (width > 1600px) {
  .post img {
    width: 550px;
  }
}
