.Total-Profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.Profile-info {
  display: flex;
  flex-wrap: wrap;
}

.Profile-picture {
  margin-right: 50px;
}

.Profile-picture img {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Profile-picture img:hover {
  transform: scale(1.01);
}

.Profile-text {
  color: #254e77;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Profile-stats {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.Profile-stats-item {
  margin-right: 30px;
}

#Following-Stats {
  margin-left: 70px;
}

#Username {
  font-size: 60px;
  font-weight: bold;
  margin-right: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .Total-Profile {
    margin-left: 0;
  }

  .Profile-info {
    flex-direction: column;
    align-items: center;
  }

  .Profile-picture {
    margin-right: 0;
    margin-bottom: 20px;
  }

  #Following-Stats {
    margin-left: 0;
  }
}


.Profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Connections-container 
{
  margin-top: 20px; 
}